/* Default font for body */
body {
    /* font-family: "Lora", serif !important; */
    font-family: 'NanumBarunGothic', 'serif' !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: 'NanumBarunGothic', 'serif' !important;
}

/* primary font */
.primary-font, #primary-font {
    font-family: 'NanumBarunGothic', serif;
    font-family: 'NanumBarunGothic', sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Lora", serif;
}