---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { cn } from '@/lib/utils';
import {
  Building2,
  FileText,
  MessageSquareCode,
  Mic,
  Settings,
  Blend,
} from 'lucide-react';
import GithubIcon from '@/assets/icons/github.svg';

const LINKS = [
  {
    __type: 'INNER',
    id: 'careers',
    label: 'Careers',
    icon: 'Building2',
    status: 'ENABLED',
    target: '_self',
    to: '/careers',
  },
  {
    __type: 'INNER',
    id: 'interview',
    label: 'Interview',
    icon: 'MessageSquareCode',
    status: 'ENABLED',
    target: '_self',
    to: '/interview',
  },
  {
    __type: 'INNER',
    id: 'til',
    label: 'TIL',
    icon: 'FileText',
    status: 'ENABLED',
    target: '_self',
    to: '/til/README',
  },
  {
    __type: 'INNER',
    id: 'loom',
    label: 'Loom',
    icon: 'Blend',
    status: 'ENABLED',
    target: '_self',
    to: '/loom',
  },
  {
    __type: 'INNER',
    id: 'rec-room',
    label: 'Rec Room',
    icon: 'Mic',
    status: 'ENABLED',
    target: '_self',
    to: '/rec-room',
  },
  {
    __type: 'OUTER',
    id: 'github',
    label: 'Github',
    icon: 'github',
    target: '_blank',
    status: 'ENABLED',
    to: 'https://github.com/gitsunmin',
  },
  {
    __type: 'OUTER',
    id: 'linkedin',
    label: 'linkedin',
    icon: 'linkedin',
    target: '_blank',
    status: 'ENABLED',
    to: 'https://www.linkedin.com/in/gitsunmin/',
  },
  {
    __type: 'INNER',
    id: 'settings',
    label: 'Settings',
    icon: 'Settings',
    status: 'ENABLED',
    target: '_self',
    to: '/settings',
  },
] as const;
---

<BaseLayout>
  <main
    class={cn(
      'fixed',
      'mx-auto px-4 py-6 w-full h-[100dvh] break-all pb-10',
      'bg-background'
    )}
  >
    <ul class="grid grid-cols-[repeat(auto-fit,minmax(64px,1fr))] gap-4">
      {
        LINKS.map((link) => (
          <li class="flex flex-col justify-center items-center">
            <a
              href={link.to}
              target={link.target}
              rel={link.target === '_blank' ? 'noopener noreferrer' : undefined}
              class={cn(
                'flex w-14 flex-col justify-center items-center gap-x-1 gap-y-2 active:transform active:duration-300 active:scale-150 active:opacity-80 hover:opacity-90 relative'
              )}
            >
              <div
                class={cn(
                  'size-14 bg-background rounded-xl shadow-md dark:shadow-white dark:shadow-sm flex items-center justify-center'
                )}
              >
                {link.icon === 'Building2' && (
                  <Building2 size={28} className="text-foreground bg-background" />
                )}
                {link.icon === 'MessageSquareCode' && (
                  <MessageSquareCode
                    size={28}
                    className="text-foreground bg-background"
                  />
                )}
                {link.icon === 'FileText' && (
                  <FileText size={28} className="text-foreground bg-background" />
                )}
                {link.icon === 'Blend' && (
                  <Blend size={28} className="text-foreground bg-background" />
                )}
                {link.icon === 'Mic' && (
                  <Mic size={28} className="text-foreground bg-background" />
                )}
                {link.icon === 'github' && (
                  <img
                    src={GithubIcon}
                    alt="github icon"
                    width={28}
                    height={28}
                    class="text-foreground dark:invert"
                  />
                )}
                {link.icon === 'linkedin' && (
                  <div class="text-foreground bg-background font-bold text-2xl">
                    In
                  </div>
                )}
                {link.icon === 'Settings' && (
                  <Settings size={28} className="text-foreground bg-background" />
                )}
              </div>
              <div
                class={cn(
                  'text-xs text-foreground break-keep text-center line-clamp-1'
                )}
              >
                {link.label}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
