---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { cn } from '@/lib/utils';
import {
  Building2,
  FileText,
  MessageSquareCode,
  Mic,
  Settings,
  Blend,
  Github,
  Linkedin,
  Quote
} from 'lucide-react';

type Link = {
  __type: 'INNER' | 'OUTER';
  id: string;
  label: string;
  status: 'ENABLED' | 'DISABLED';
  target: '_self' | '_blank';
  to: string;
  icon: string;
};

const LINKS: Link[] = [
  {
    __type: 'INNER',
    id: 'blog',
    label: 'Blog',
    status: 'ENABLED',
    target: '_self',
    to: '/blog',
    icon: 'Quote',
  },
  {
    __type: 'INNER',
    id: 'til',
    label: 'TIL',
    status: 'ENABLED',
    target: '_self',
    to: '/til/README',
    icon: 'FileText',
  },
  {
    __type: 'INNER',
    id: 'careers',
    label: 'Careers',
    status: 'ENABLED',
    target: '_self',
    to: '/careers',
    icon: 'Building2',
  },
  {
    __type: 'INNER',
    id: 'interview',
    label: 'Interview',
    status: 'ENABLED',
    target: '_self',
    to: '/interview',
    icon: 'MessageSquareCode',
  },
  {
    __type: 'INNER',
    id: 'loom',
    label: 'Loom',
    status: 'ENABLED',
    target: '_self',
    to: '/loom',
    icon: 'Blend',
  },
  {
    __type: 'INNER',
    id: 'rec-room',
    label: 'Rec Room',
    status: 'ENABLED',
    target: '_self',
    to: '/rec-room',
    icon: 'Mic',
  },
  {
    __type: 'OUTER',
    id: 'github',
    label: 'Github',
    target: '_blank',
    status: 'ENABLED',
    to: 'https://github.com/gitsunmin',
    icon: 'Github',
  },
  {
    __type: 'OUTER',
    id: 'linkedin',
    label: 'linkedin',
    target: '_blank',
    status: 'ENABLED',
    to: 'https://www.linkedin.com/in/gitsunmin/',
    icon: 'Linkedin',
  },
  {
    __type: 'INNER',
    id: 'settings',
    label: 'Settings',
    status: 'ENABLED',
    target: '_self',
    to: '/settings',
    icon: 'Settings',
  },
];

const iconMap = {
  Building2: Building2,
  MessageSquareCode: MessageSquareCode,
  FileText: FileText,
  Blend: Blend,
  Mic: Mic,
  Github: Github,
  Linkedin: Linkedin,
  Settings: Settings,
  Quote: Quote,
};
---

<BaseLayout>
  <main
    class={cn(
      'fixed',
      'mx-auto px-4 py-6 w-full h-dvh break-all pb-10',
      'bg-background'
    )}
  >
    <ul class="grid grid-cols-[repeat(auto-fit,minmax(64px,1fr))] gap-4">
      {
        LINKS.map((link) => (
          <li class="flex flex-col justify-center items-center">
            <a
              href={link.to}
              target={link.target}
              rel={link.target === '_blank' ? 'noopener noreferrer' : undefined}
              class={cn(
                'flex w-14 flex-col justify-center items-center gap-x-1 gap-y-2 active:transform active:duration-300 active:scale-150 active:opacity-80 hover:opacity-90 relative'
              )}
            >
              <div
                class={cn(
                  'size-14 bg-background rounded-xl shadow-md dark:shadow-white dark:shadow-sm flex items-center justify-center'
                )}
              >
                {(() => {
                  const Icon = iconMap[link.icon as keyof typeof iconMap];
                  return Icon ? (
                    <Icon size={28} className="text-foreground bg-background" />
                  ) : null;
                })()}
              </div>
              <div
                class={cn(
                  'text-xs text-foreground break-keep text-center line-clamp-1'
                )}
              >
                {link.label}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
