---
layout: archive
---
<!-- {{ content }} -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.0/cytoscape.min.js"
  integrity="sha512-TOWs340KHbJjY/a2SCtsUcXYBg7/xPX72NKpJ3VITogkHJTy2yMyoJE0pxJjumMGHCg46ud89KO5q1Toe3Aeaw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{%- assign search_provider = site.search_provider | default: "lunr" -%}
{%- case search_provider -%}
  {%- when "lunr" -%}
    <input type="text" id="search" class="search-input" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
    <div id="results" class="results"></div>
  {%- when "google" -%}
    <form onsubmit="return googleCustomSearchExecute();" id="cse-search-box-form-id">
    <input type="text" id="cse-search-input-box-id" class="search-input" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
    </form>
    <div id="results" class="results">
      <gcse:searchresults-only></gcse:searchresults-only>
    </div>
  {%- when "algolia" -%}
    <div class="search-searchbar"></div>
    <div class="search-hits"></div>
{%- endcase -%}

<script src="js/index.js"></script>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
