/* ==========================================================================
   CUSTOM
   ==========================================================================
*/

.home-container {
  display: flex;
  flex-direction: row;
  &-left-flex {
      background-color: red;
      width: 500px;
  }
  &-right-flex {
    background-color: blue;
    width: 500px;
  }
  div.archive {
      padding: 0px;
  }
}
