/* ==========================================================================
   CUSTOM
   ==========================================================================
*/

.home-sub-title {
  font-size: 1rem;
  margin-bottom: 15px;
}
.profile-posts {
  font-size: 0.7rem;
  margin-top: 10px;
  border-radius: 5%;
  a {
    padding: 5px;
  }
}
