---
import BaseLayout from './BaseLayout.astro';
import { Header } from '@/components/Header';
import { Footer } from '@/components/Footer';
import { cn } from '@/lib/utils';

interface Props {
  title?: string;
  description?: string;
  headerTitle?: string;
  className?: string;
}

const {
  title = 'Gitsunmin',
  description = "Gitsunmin's website | 김선민의 웹사이트",
  headerTitle,
  className,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header title={headerTitle} client:load />
  <main
    class={cn(
      'flex flex-col justify-center min-h-[calc(100dvh-48px)] md:min-h-[calc(100dvh-64px)] w-full',
      className
    )}
  >
    <slot />
  </main>
  <Footer />
</BaseLayout>
